
body{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-image:url(images/login.jpg);
   
        background-attachment: fixed;
    background-position: center;
    background-size: cover;

}


form{
    background-color: white;
    padding: 30px;
    margin-top: 50px;

    display: flex;
      min-height: 70vh;
      flex-direction: column;
   
      justify-content: space-evenly;
      
      
    border:1px solid;
    border-radius: 20px;
    box-shadow: 5px 5px 50px 20px black;
  
    
    
    
}
 form .first_name ,.password{
    width:400px;
    height:50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border:2px solid black;
     text-decoration: none;
     padding: 10px;
     text-decoration-style: none;
     
    outline: none;
   
    
   
}
form .password:hover{
   border:2px solid blue;
   
}
form .user_name:hover{
   border:2px solid yellow;
   
}
.fourth {
  border-color: #f1c40f;
  color: #fff;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  padding: 20px;
  color: black;
  font-weight: bold;
  border-radius: 10px;

  border-style: none;
}
.fourth:hover {
  background-position: 0;
}
.signuplink:hover{
    color:green;
    text-decoration: none;
}/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 Mar, 2020, 4:22:44 PM
    Author     : LENOVO
*/

