.hr-container{
   margin-bottom: 40px;
}
.hr-body{
   
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;  
    align-content: center;
    align-items: center;
    
}
.hr{
     padding: 0px 40px;
    border: 1px  solid #333;
    height:80vh;
    width:70vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-content:center;
    align-items:center;
}
.hr-container button{
    
}